nav {
    padding: 10px 0;
    div {
        margin-right: 10px;
        color: #fff;
        margin-right: 30px;
        &:hover {
            color:gray;
        }
    }
    svg {
        fill: #fff;
        stroke: #fff;
        width: 20px;
        height: 20px;
        &:hover {
            fill: gray;
            stroke: gray;
        }
    }
}